body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh; /* Full height of viewport */
  background: url('./images/login-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  }
  
  

  .forgot-password-container {
    background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 320px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Optional shadow */
  }
  
  h2 {
    color: white;
  }
  
  p {
    font-size: 14px;
    color: white;
  }

  .input-group {
    margin: 40px 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: -5px;
    width: 100%;
  }
  
  .input-group input {
    width: 100%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  }
  
  .reset-btn {
    width: 100%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.7);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  }
  
  .reset-btn:hover {
    background: rgba(255, 255, 255, 0.9);
  }
  