@media (min-width: 601px) and (max-width: 992px) {
  .nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  
  .search-container input[type="text"] {
    width: 80%;
  }

  .category-grid,
  .recipe-grid,
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .swiper-slide {
    width: 180px !important;
    height: 180px !important;
  }
}
